/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #f4f0f0;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.5;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    margin-bottom: 20px;
}
section#TAJMAHAL {
    font-size: larger;
    font-style: normal;
    font-variant: normal;
    font-stretch: narrower;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
